[Unit]
Description=Ambilight

[Service]
User=pi
WorkingDirectory=/home/pi/ambi-tv
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p /var/run/ambi-tv
ExecStartPre=-/bin/chown pi:pi /var/run/ambi-tv
ExecStart=/home/pi/ambi-tv/bin/ambitv-daemon
PIDFile=/var/run/ambi-tv/pid
Restart=on-abort

[Install]
WantedBy=multi-user.target

